#items {
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex
}

#bar {
    position: sticky!important;
    top: 0!important;
}

#proj {
    font-family: 'Merriweather';
    text-align: center;
    color: #5C4033;
    font-size: 50px;
}

#a {
    width: 90rem;
    color: #5C4033;
}
#b {
    width: 85rem;
    color: #5C4033;
    padding: 3px;
}
#c {
    width: 80rem;
    color: #5C4033;
    padding: 3px;
}
#d {
    width: 75rem;
    color: #5C4033;
    padding: 3px;
}
#e {
    width: 70rem;
    color: #5C4033;
    padding: 3px;
}
#f {
    width: 65rem;
    color: #5C4033;
    padding: 3px;
}
#g {
    width: 60rem;
    color: #5C4033;
    padding: 3px;
}
#h {
    width: 55rem;
    color: #5C4033;
    padding: 3px;
}
#i {
    width: 50rem;
    color: #5C4033;
    padding: 3px;
}
#j {
    width: 45rem;
    color: #5C4033;
    padding: 3px;
}
#k {
    width: 40rem;
    color: #5C4033;
    padding: 3px;
}

#p {
    width: 75rem;
    color: #5C4033;
    padding: 3px;
}

#but {
    left: 50%;
    text-align: center;
}

#welcome {
    font-family: 'Merriweather';
    font-size: 25px;
    color: #5C4033;
}

#welc {
    margin: 0px;
    font-family: 'Merriweather';
    font-size: 20px;
    color: #5C4033;
}

#texts {
    font-family: "Merriweather"
}

#bullet {
    font-family: "Merriweather";
}

#link {
    color: brown;
}